
@using PagedList.Mvc;
@model PagedList.IPagedList<WebQLNhaTro.Models.motel> 
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .menu{
        display:inline;
        text-align:center;
    }
    .pagination{
        display:inline-block;
        padding-left:0;
        margin: 20px 0;
        border-radius:4px;
    }
    .pagination > li{
        display: inline;
    }
    .pagination-lg > li > a,
    .pagination-lg > li > span{
        position:relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.428571429;
        background-color: #ffffff;
        border: 1px solid #dddddd;
    }
    .pagination > li:first-child > a,
    .pagination > li:first-child > span{
        margin-left:0;
    }
    .pagination > li:last-child > a,
    .pagination > li:last-child > span{
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .pagination > li > a:hover,
    .pagination > li > span:hover,
    .pagination > li > a:focus,
    .pagination > li > span:focus{
        color: #999999;
        background-color:#ffffff;
        border-color:#dddddd;
    }
    .pagination > li > a, .pagination > li > span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #337ab7;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
    }
    .pagination-lg > li > a,
    .pagination-lg > li > span{
        padding: 10px 16px;
        font-size:18px;
    }
    .pagination-lg > li:first-child > a,
    .pagination-lg > li:first-child > span{
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
    }
    .pagination-lg > li:last-child > a,
    .pagination-lg > li:last-child > span{
        border-top-right-radius:6px;
        border-bottom-right-radius: 6px;
    }
    .pagination-sm > li > a,
    .pagination-sm > li > span{
        padding: 5px 10px;
        font-size: 12px;
    }
    .pagination-sm > li:first-child > a,
    .pagination-sm > li:first-child > span{
        border-bottom-left-radius:3px;
        border-top-left-radius: 3px;
    }
    .pagination-sm > li:last-child > a,
    .pagination-sm > li:last-child > span{
        border-top-right-radius:3px;
        border-bottom-right-radius:3px;
    }
    .pager {
        padding-left:0;
        margin: 20px 0;
        text-align:center;
        list-style:none;
        clear:both;
    }
    .pager:before,
    .pager:after{
        display:table;
        content: " ";
    }
    .pager:after{
        clear:both;
    }
    .pager li{
        display: inline;
    }
    .pager li > a,
    .pager li > span{
        display: inline-block;
        padding: 5px 14px;
        border: 1px solid #dddddd;
        background-color: #ffffff;
        border-radius: 15px;
    }
    .pager li > a:hover,
    .pager li > a:focus{
        text-decoration:none;
        background-color: #eeeeee;
    }

    .pager .next > a,
    .pager .previous > span{
        float: left;
    }
    .pager .disabled > a,
    .pager .disabled > a:hover,
    .pager .disabled > a:focus,
    .pager .disabled > span{
        color: #999999;
        background-color:#ffffff;
    }
    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
    }
</style>


@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/Location" class="nav-link">Sản phẩm</a>
        </li>
    </ul>
}
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách sản phẩm</h3>

            <div class="card-tools">
                <a href="/admin/product/add" class="btn btn-primary">Thêm mới</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Ảnh </th>
                        <th>Chủ </th>
                        <th>Danh mục</th>
                        <th>Tiêu đề</th>
                        <th>Diện tích</th>
                        <th>Giá</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = 1;
                        foreach (var sp in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td><img src="~/Image/@sp.Image" width="50" height="50" /></td>
                                <td>@sp.Host.OwnerName</td>
                                <td>@sp.CategoryMotel.Type</td>
                                <td>@sp.Title</td>
                                <td>@sp.Acreage</td>
                                <td>@sp.Price</td>
                                <td>@sp.Status</td>
                                <td>
                                    <a href="/admin/product/edit/@sp.MotelID" class="btn btn-sm btn-primary">Sửa</a>
                                    <a href="/admin/product/delete/@sp.MotelID" class="btn btn-sm btn-danger">Xóa</a>
                                </td>
                            </tr>
                            i++;
                        }

                    }

                </tbody>
            </table>

        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>

<div class="menu">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>

