@using PagedList.Mvc;
@model PagedList.IPagedList<WebQLNhaTro.Models.motel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<style>
    .menu {
        display: inline;
        text-align: center;
    }

    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
    }

        .pagination > li {
            display: inline;
        }

    .pagination-lg > li > a,
    .pagination-lg > li > span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.428571429;
        background-color: #ffffff;
        border: 1px solid #dddddd;
    }

    .pagination > li:first-child > a,
    .pagination > li:first-child > span {
        margin-left: 0;
    }

    .pagination > li:last-child > a,
    .pagination > li:last-child > span {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .pagination > li > a:hover,
    .pagination > li > span:hover,
    .pagination > li > a:focus,
    .pagination > li > span:focus {
        color: #999999;
        background-color: #ffffff;
        border-color: #dddddd;
    }

    .pagination > li > a, .pagination > li > span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #337ab7;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
    }

    .pagination-lg > li > a,
    .pagination-lg > li > span {
        padding: 10px 16px;
        font-size: 18px;
    }

    .pagination-lg > li:first-child > a,
    .pagination-lg > li:first-child > span {
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
    }

    .pagination-lg > li:last-child > a,
    .pagination-lg > li:last-child > span {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .pagination-sm > li > a,
    .pagination-sm > li > span {
        padding: 5px 10px;
        font-size: 12px;
    }

    .pagination-sm > li:first-child > a,
    .pagination-sm > li:first-child > span {
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
    }

    .pagination-sm > li:last-child > a,
    .pagination-sm > li:last-child > span {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .pager {
        padding-left: 0;
        margin: 20px 0;
        text-align: center;
        list-style: none;
        clear: both;
    }

        .pager:before,
        .pager:after {
            display: table;
            content: " ";
        }

        .pager:after {
            clear: both;
        }

        .pager li {
            display: inline;
        }

            .pager li > a,
            .pager li > span {
                display: inline-block;
                padding: 5px 14px;
                border: 1px solid #dddddd;
                background-color: #ffffff;
                border-radius: 15px;
            }

                .pager li > a:hover,
                .pager li > a:focus {
                    text-decoration: none;
                    background-color: #eeeeee;
                }

        .pager .next > a,
        .pager .previous > span {
            float: left;
        }

        .pager .disabled > a,
        .pager .disabled > a:hover,
        .pager .disabled > a:focus,
        .pager .disabled > span {
            color: #999999;
            background-color: #ffffff;
        }

    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
    }
</style>
<section class="intro-single">
    @using (Html.BeginForm("Index", "Motels", FormMethod.Get))
    {
        <div class="row">
            <div class="col-md-9 mb-2">
                <div class="form-group">
                    <label for="Type">Tên phòng trọ</label>
                    <input type="text" class="form-control form-control-lg form-control-a" placeholder="Tên phòng trọ" name="keyword" id="keyword">
                </div>
            </div>
            <div class="col-md-2 mb-2">
                <div class="form-group">
                    <label></label>
                    <button type="submit" class="btn btn-b">Tìm kiếm</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-2">
                <div class="form-group">
                    <label for="rent">Danh mục</label>
                    @Html.DropDownList("Danhmuc", (IEnumerable<SelectListItem>)ViewBag.Danhmuc, "Chọn danh mục", new { @class = "form-control form-control-lg form-control-a" })
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="form-group">
                    <label for="Type">Khu vực</label>
                    @Html.DropDownList("KhuVuc", (IEnumerable<SelectListItem>)ViewBag.KhuVuc, "Chọn khu vực", new { @class = "form-control form-control-lg form-control-a" })
                </div>
            </div>
            <div class="col-md-4 mb-2">
                <div class="form-group">
                    <label for="city">Giá</label>
                    @Html.DropDownList("GiaTu", (IEnumerable<SelectListItem>)ViewBag.GiaTu, "Chọn mức giá", new { @class = "form-control form-control-lg form-control-a" })
                </div>
            </div>
        </div>
    }

</section>


<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
                <h1 class="/motel/index">Tất cả </h1>
                <span class="color-text-a" style="color:grey">Tìm phòng</span>
            </div>
        </div>
        <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/home/index">Trang chủ</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Tìm phòng
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>



<section class="property-grid grid">
    <div class="container">

        <div class="col-sm-12">
            <div class="grid-option">
                <select class="custom-select " id="sorting">
                    <option value="default" selected>Tất cả</option>
                    <option value="AscendingPrice">Giá thấp nhất</option>
                    <option value="DecreasePrice">Giá cao nhất</option>
                </select>
            </div>
        </div>
        <div class="row" id="productList">
            @if (Model != null && Model.Any())
            {
                foreach (var tro in Model)
                {

                    <div class="col-md-6 product" data-price="@tro.Price">
                        <div class="card-box-a card-shadow " style="width:525px;height:378px">
                            <div class="img-box-a">
                                <img src="~/Image/@tro.Image" alt="" class="img-a img-fluid" style="width:100%;height:100%">
                            </div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h2 class="card-title-a">
                                            <a href="#">
                                                @tro.Title
                                            </a>
                                        </h2>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex">
                                            <span class="price-a">@tro.Price VNĐ</span>
                                        </div>
                                        <div>
                                            <span style="color: red">@tro.Address</span>
                                        </div>
                                        <a href="/motels/detail/@tro.MotelID" class="link-a">
                                            Xem chi tiết
                                            <span class="ion-ios-arrow-forward"></span>
                                        </a>
                                    </div>
                                    <button type="button" class="btn btn-primary register-button mb-3" data-motelid="@tro.MotelID" data-toggle="tooltip" title="Đăng ký trọ">
                                        <i class="fas fa-check"></i> Đăng ký
                                    </button>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <h4 class="card-info-title">Area</h4>
                                                <span>
                                                    @tro.Acreage m
                                                    <sup>2</sup>
                                                </span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Chủ trọ</h4>
                                                <span>@tro.Host.OwnerName</span>
                                            </li>
                                            <li>
                                                <h4 class="card-info-title">Điện thoại</h4>
                                                <span>@tro.Host.Phone</span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            }

        </div>
        <div class="row">

        </div>
    </div>
</section>
<div class="menu">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>


<script>
    document.getElementById('sorting').addEventListener('change', function () {
        const productList = document.getElementById('productList');
        const sortValue = this.value;
        let productsArray = Array.from(productList.getElementsByClassName('product'));

        if (sortValue === 'AscendingPrice') {
            productsArray.sort((a, b) => {
                return parseInt(a.getAttribute('data-price')) - parseInt(b.getAttribute('data-price'));
            });
        } else if (sortValue === 'DecreasePrice') {
            productsArray.sort((a, b) => {
                return parseInt(b.getAttribute('data-price')) - parseInt(a.getAttribute('data-price'));
            });
        }

        while (productList.firstChild) {
            productList.removeChild(productList.firstChild);
        }

        productsArray.forEach(product => {
            productList.appendChild(product);
        });
    });


        $("#keyword").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetByName", "Motels")",
                    dataType: "json",
                    data: {
                        keyword: $("#keyword").val()
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.label, value: item.label }
                        }));
                    }
                });
            },

        });
    function handleRegister(motelId) {
        $.ajax({
            type: "GET",
            url: "/Registration/GetMotelInfo",
            data: { motelId: motelId },
            success: function (motelInfo) {
                console.log(motelInfo);
            },
            error: function (error) {
                console.error(error);
            }
        });
    }

    $(document).ready(function () {
        $('.register-button').on('click', function () {
            var motelId = $(this).data('motelid');
            registerMotel(motelId);
        });
        function registerMotel(motelId) {
            $.ajax({
                url: '/Motels/Register',
                type: 'POST',
                data: { MotelID: motelId },
                success: function (result) {
                    if (result.success) {
                        alert(result.message);
                    } else {
                        alert(result.message);
                    }
                },
                error: function () {
                    alert('Có lỗi xảy ra. Vui lòng thử lại.');
                }
            });
        }
    });
</script>
