@model WebQLNhaTro.Models.custom
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đăng nhập</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/4702f02b2a.js" crossorigin="anonymous"></script>
    <script src="js/facebook.js"></script>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/clientss/css/login_css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/clientss/css/login_css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <h3 style="color:red;text-align:center">@ViewBag.ThongBao</h3>
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <a href="index.html" style="text-decoration: none;">
                        <img src="~/Image/Login.jpg" alt="IMG">
                    </a>
                </div>
                @using (Html.BeginForm("Register", "CustomAccount", FormMethod.Post))
                {
                    <div class="login100-form validate-form">
                        <span class="login100-form-title">
                            ĐĂNG KÝ TÀI KHOẢN
                        </span>

                        <div class="wrap-input100 validate-input">
                            @Html.TextBoxFor(x => x.fullName, new { @class = "input100", @placeholder = "Họ và tên", required = "required" })
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input">
                            @Html.TextBoxFor(x => x.Account, new { @class = "input100", @placeholder = "Tên đăng nhập", required = "required" })
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-envelope" aria-hidden="false"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input">
                            @Html.PasswordFor(x => x.PassWord, new { @class = "input100", @placeholder = "Mật khẩu", required = "required" })
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="wrap-input100 validate-input">
                            @Html.DropDownListFor(x => x.gender, new SelectList(new[] { "Nam", "Nữ" }), "Chọn giới tính", new { @class = "input100", required = "required" })
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-venus-mars" aria-hidden="true"></i>
                            </span>
                        </div>


                        <div class="wrap-input100 validate-input">
                            @Html.TextBoxFor(x => x.Email, new { @class = "input100", @placeholder = "Email", required = "required" })
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>
                        </div>
                        @Html.AntiForgeryToken()
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" type="submit">ĐĂNG KÝ</button>
                        </div>
                        <div class="text-center p-t-12">
                            <span class="txt1">
                                Bạn đã có tài khoản?
                            </span>
                            <a class="txt2" href="@Url.Action("Login", "CustomAccount")">
                                Đăng nhập ngay
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
